@font-face {
        font-family: timeburnerbold;
        src: url(./timeburnerbold.ttf);
}



.map{
  padding: 5px;
  margin: -13px 0 8px 0;

}

code {

    color: rgb(15, 179, 59);
    background-color: #f9f2f4;
    text-align: center;
    font-size: 60px;
    font-family: 'timeburnerbold', cursive;
    font-weight: bold;
    padding: 0px;
    margin: 0px;

}
.footer{
    text-align: center;
    color: rgba(55, 55, 55, 1);
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Droid Serif', serif;
}


.panel-heading {
    cursor: pointer;
}

.well{
	padding: 8px;
}

.headerP{

color: rgba(27, 27, 27, 0.76);
font-size: 18px;
font-family: 'Droid Serif', serif;

}